# Ignore all generated sign information
/src/2023_competition/enph353/enph353_utils/scripts/*.txt
# Ignore all generated signs
/src/2023_competition/enph353/enph353_gazebo/media/materials/textures/unlabelled/*.png
